body {
	background: #fefefe;
	min-width: 320px;
	margin: 0;
}
.navbar-brand, .navbar-nav>li>a {
	font-size:12pt;
	font-weight:bold;
	color:#00A800;
}
h3 a {
	color:#00A800;
}
#map {
  height: 36rem;
  width: 100%;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 25px;
  margin-bottom:-78px;
  z-index:50;
  top:-78px;
}
#bios .well {
	height: 280px;
	overflow: hidden;
	margin-top: 15px;
}
.leaflet-right{
	display: none;
}
.footer {
  background: #f4f4f4;
  text-align: center;
  height: 10rem;
  width: 100%;
}
.credits {
	margin: 20px;
  	font-size: 1.575rem;
  	line-height: 1.5rem;
  	opacity: 0.48;
  	font-weight: 400;
}
#header {
	position:relative;
	z-index:100;
}
#green {
	background-color:#00A800;
	color:#fff;
	padding-bottom:20px;
}
