body {
	background: #fefefe;
}
.navbar-brand, .navbar-nav>li>a {
	font-size:12pt;
	font-weight:bold;
	color:#00A800;
}
h3 a {
	color:#00A800;
}
#map {
  height: 36rem;
  width: 100%;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 25px;
  margin-bottom:-78px;
  z-index:50;
  top:-78px;
}
#bios .well {
	height: 280px;
	overflow: hidden;
	margin-top: 15px;
}
.photo-container { width: 100%; }
.photo-container .photo {
  height: 245px;
  width: 100%;
  background-color: transparent !important;
  position: relative;
  -webkit-print-color-adjust: exact;
}
.photo-container .photo img {
  max-height: 245px;
  max-width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.company-info {
  max-height: 245px;
  overflow-y: scroll;
}
.company-info h3 { margin-top: 10px;
}
.leaflet-right{
	display: none;
}
.footer {
  background: #f4f4f4;
  text-align: center;
  height: 10rem;
  width: 100%;
  overflow: hidden;
}
.credits {
	margin: 20px;
  	font-size: 1.575rem;
  	line-height: 1.5rem;
  	opacity: 0.48;
  	font-weight: 400;
}
#header {
	position:relative;
	z-index:100;
}
#green {
	background-color:#00A800;
	color:#fff;
	padding-bottom:20px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}