@import url(http://fonts.googleapis.com/css?family=Jura);
@import "bootstrap/less/bootstrap";
@import "bootswatch/paper/bootswatch";
@import (inline) "leaflet/dist/leaflet.css";
@import (inline) "leaflet.label/dist/leaflet.label.css";

@tech-green: #8A9F5C;
@tech-blue: #033E5E;
@tech-gray: #8B8D90;

body {
  background: #fff;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: Jura, sans-serif;
  color: @tech-green;
}

.cvhta-header {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  -webkit-user-select: none;
  user-select: none;
  max-height: 0px;

  .nav {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: Jura, sans-serif;
    color: @tech-blue;
  }
}

.cvhta-popup-logo {
  height: 60px;
}

.cvhta-accent {
  font-weight: bold;
  color: @tech-blue;
}

.cvhta-box-accent {
  position: relative;
  padding: 10px 50px;
  z-index: 2;
  background-color: fade(@tech-green, 85%);
  margin: 10px 0;

  h3 {
    color: white;
  }
}

.cvhta-map-above {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(180deg, rgb(255,255,255, 0.8) 50px, rgba(255,255,255,0.0));
  pointer-events: none;
}

.cvhta-map-below {
  position: relative;
  z-index: 2px;
  height: 600px;
  background-image: linear-gradient(0deg, rgb(255,255,255,1), rgba(255,255,255,0.0));
  margin-top: 525px;
  margin-bottom: -600px;
  pointer-events: none;
}

.cvhta-logo {
  position: absolute;
  margin-top: 20px;
  height: 130px;
}

.cvhta-map {
  position: absolute;
  top: 0;
  bottom: -300px;
  left: 0;
  right: 0;
  z-index: 0;
}

.cvhta-company {
  height: 280px;
  overflow: hidden;
  margin-top: 15px;
  background-color: #fff;

  &:hover .cvhta-company-logo {
    display: none;
  }
}

.cvhta-company-logo {
  width: 100%;

  .photo {
    height: 245px;
    width: 100%;
    background-color: transparent !important;
    position: relative;
    -webkit-print-color-adjust: exact;
  }

  img {
    max-height: 245px;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.cvhta-company-info {
  max-height: 245px;
  overflow-y: scroll;

  h3 {
    margin-top: 10px;
    a {
      color: @tech-blue;
    }
  }
  p {
    color: @tech-gray;
  }
}

// bootstrap overrides
.container {
  position: relative;
  z-index: 1;
}

.navbar-brand, .navbar-nav > li > a {
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
  font-family: Jura, sans-serif;
  color: @tech-blue;
}

// leaflet overrides
.leaflet-label {
  background-color: rgba(255,255,255,0.9);
  border-color: rgba(225,225,225,0.7);
  z-index: 1000 !important;
}

.leaflet-container {
  background: #fff;
}
