{
  "parser": "babel-eslint",
  "extends": "adc/react",
  "rules": {
    "no-var": 2,
    "prefer-const": 2,
    "generator-star-spacing": 0,
    "react/no-deprecated": 0
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
