html(lang="en")
  head
    meta(charset="utf-8")
    title Chippewa Valley High-Tech Alliance
    meta(description="The Chippewa Valley High-Tech Alliance exists to foster growth, innovation and awareness of the Chippewa Valley's high-tech community")
    link(rel="stylesheet", href="bundle.css")
  body
    #close-map.cvhta-close-full-map Close
    .cvhta-map-above
    .cvhta-header.container
      img.cvhta-logo(src="images/logo.png", alt="Chippewa Valley High-Tech Alliance")

      .pull-right
        ul.nav.nav-pills
          li: a(data-scroll, href="#mission") About
          li: a(data-scroll, href="#members") Members
          li: a(data-scroll, href="#partners") Partners
          li: a(href="mailto:us@cvhta.com") Contact

    #map.cvhta-map
    .cvhta-map-below

    #mission.cvhta-box-accent
      .container
        h3
          span.cvhta-accent Our Mission:
          br
          | To foster growth, innovation and awareness of the Chippewa Valley's high-tech community</h3>

    #about.container.cvhta-style
      br
      p.
        We are a group of employers in the Chippewa Valley whose core business is technology. We have come together to raise awareness of innovative technology in our area.

      p.
        Our goal is to not only showcase the area's innovation, but to support activities to foster the growth of our employees.

      p.
        Members (high-tech companies) and partners (entities we’ve partnered with who support the Alliance) offer a broad spectrum of opportunities in many industries – from health care, to manufacturing, to consulting, to software development – and everything in between.

      h3#members.cvhta-accent.text-center Members
        
      each feature in members.features
        .col-md-4.col-sm-6
          .cvhta-company.well.center-block
              if feature.properties.logo
                .cvhta-company-logo
                  .photo
                    img.img-responsive(src= feature.properties.logo)

              .cvhta-company-info
                h3: a(href=feature.properties.url)= feature.properties.name
                p= feature.properties.description
                  
      .clearfix
      
      h3#partners.cvhta-accent.text-center Partners
      
      each feature in partners.features
        .col-md-4.col-sm-6
          .cvhta-partner.well.center-block
            if feature.properties.logo
              a(href=feature.properties.url)
                img.img-responsive(src= feature.properties.logo)
            else
              h3: a(href=feature.properties.url)= feature.properties.name
      
    hr
    p.text-center.clearfix.text-muted
      small Chippewa Valley High-Tech Alliance &bull; 2015

    script(src="bundle.js")
