html(lang="en")
  head
    meta(charset="utf-8")
    title Chippewa Valley High-Tech Alliance
    meta(description="The Chippewa Valley High-Tech Alliance exists to foster growth, innovation and awareness of the Chippewa Valley's high-tech community")
    link(rel="stylesheet", href="bundle.css")
  body
    #close-map.cvhta-close-full-map Close
    .cvhta-map-above
    .cvhta-header.container
      img.cvhta-logo(src="images/logo.png", alt="Chippewa Valley High-Tech Alliance")

      .pull-right
        ul.nav.nav-pills
          li: a(data-scroll, href="#mission") About
          li: a(data-scroll, href="#members") Members
          li: a(data-scroll, href="#partners") Partners
          li: a(href="mailto:members@cvhta.com") Contact

    #map.cvhta-map
    .cvhta-map-below

    #mission.cvhta-box-accent
      .container
        h3
          span.cvhta-accent Our Mission:
          br
          | To foster growth, innovation and awareness of the Chippewa Valley's high-tech community</h3>

    #about.container.cvhta-style
      br
      p.
        The Chippewa Valley High-Tech Alliance (CVHTA) is a group of area technology-based businesses that have come together to raise awareness of the region as a leader in technology. A large number of companies – past, present and emerging – either employ technology as the core of their business, or rely on technology to deliver their products or services.

      p.
        We met for the first time in December, 2014 to discuss how we could work together to form a coalition to market the area as a career destination for those seeking careers in technology, as well as to show off the skills of the talent who are already employed in the area.

      p.
        We decided to form our own coalition to showcase all the opportunities that are available in this region, as well as to display the innovative work performed by our talented employees.

      h3#members.cvhta-accent.text-center Members
        
      each feature in members.features
        .col-md-4.col-sm-6
          .cvhta-company.well.center-block
              if feature.properties.logo
                .cvhta-company-logo
                  .photo
                    img.img-responsive(src= feature.properties.logo)

              .cvhta-company-info
                h3: a(href=feature.properties.url)= feature.properties.name
                p= feature.properties.description
                  
      .clearfix
      
      h3#partners.cvhta-accent.text-center Partners
      
      each feature in partners.features
        .col-md-4.col-sm-6
          .cvhta-partner.well.center-block
            if feature.properties.logo
              a(href=feature.properties.url)
                img.img-responsive(src= feature.properties.logo)
            else
              h3: a(href=feature.properties.url)= feature.properties.name
      
    hr

    div.connect-menu.text-center
      ul
        li: a(href="https://twitter.com/CVHTA_members")
          i.fa.fa-twitter.fa-2x.text-muted
        li: a(href="https://www.facebook.com/cvhta")
          i.fa.fa-facebook-square.fa-2x.text-muted
        li: a(href="https://www.linkedin.com/company/chippewa-valley-high-tech-alliance?trk=company_logo")
          i.fa.fa-linkedin.fa-2x.text-muted
    p.text-center.clearfix.text-muted
      small Chippewa Valley High-Tech Alliance &bull; 2015

    script(src="bundle.js")
