html(lang="en")
  head
    meta(charset="utf-8")
    title Chippewa Valley High-Tech Alliance
    meta(description="The Chippewa Valley High-Tech Alliance exists to foster growth, innovation and awareness of the Chippewa Valley's high-tech community")
    link(rel="stylesheet", href="bundle.css")
  body
    .cvhta-header.container
      img.cvhta-logo(src="images/logo.png", alt="Chippewa Valley High-Tech Alliance")

      .pull-right
        ul.nav.nav-pills
          li: a(href="index.html#mission") About
          li: a(href="index.html#members") Members
          li: a(href="index.html#partners") Partners
          li: a(href="media.html") Media
          li: a(href="mailto:members@cvhta.com") Contact

    .clearfix
    #media.container.cvhta-style
      br
      br
      .col-md-4
        img.img-responsive(src="http://www.leadertelegram.com/image/2015/11/17/640x340/mw-hightech-1a-111815.jpg", alt="Leader Telegram")
        a(href="http://www.leadertelegram.com/News/Front-Page/2015/11/18/Firms-form-alliance-to-publicize-region-s-high-tech-know-how.html", target="_blank") Firms form alliance to publicize region’s high-tech know-how

      .col-md-4
        img.img-responsive(src="http://media.graytvinc.com/images/CVHTA2.jpg", alt="weau")
        a(href="http://www.weau.com/home/headlines/Chippewa-Valley-High-Tech-Alliance-looks-to-highlight-tech-jobs-in-the-area-351246591.html", target="_blank") Chippewa Valley High-Tech Alliance looks to highlight tech jobs in the area

      .col-md-4
        img.img-responsive(src="http://wqow.images.worldnow.com/images/9273355_G.jpg", alt="wqow")
        a(href="http://www.wqow.com/story/30543092/2015/11/17/high-tech-companies-in-the-chippewa-valley-form-alliance", target="_blank") High-tech companies join together to bring talent to the Chippewa Valley

    hr

    div.connect-menu.text-center
      ul
        li: a(href="https://twitter.com/CVHTA_members")
          i.fa.fa-twitter.fa-2x.text-muted
        li: a(href="https://www.facebook.com/cvhta")
          i.fa.fa-facebook-square.fa-2x.text-muted
        li: a(href="https://www.linkedin.com/company/chippewa-valley-high-tech-alliance?trk=company_logo")
          i.fa.fa-linkedin.fa-2x.text-muted
    p.text-center.clearfix.text-muted
      small Chippewa Valley High-Tech Alliance &bull; 2015

    script(src="bundle.js")
